.container {
  height: 500px;

  h2 {
    text-align: center;
  }
  .card-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    .card-body {
      background-color: rgb(136, 128, 128);
      border-radius: 5px;

      .card-heading{
        margin-top: 10px;
      }
      .card-input{
        input{
          margin: 10px;
        }
      }
    }
  }
}
